#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;

	.todo-input {
		width: 450px;
		border-radius: 5px;
		padding: 0.6em 1.2em;
		font-size: 1em;
		font-weight: 500;
		font-family: inherit;
		/* margin: 20px; */
    margin-right: 10px;
	}

	.card {
		padding: 10px;
	}
}
